APP_ENV=testing
APP_KEY=base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_DATABASE=vocesdemitierra_test
DB_USERNAME=voces_test
DB_PASSWORD=
SESSION_DRIVER=array
CACHE_STORE=array
QUEUE_CONNECTION=sync
